html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Gotham', Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration: none;}
@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Bold.ttf') format('truetype'),
  	   url('fonts/Gotham-BoldItalic.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Medium.ttf') format('truetype'),
  	   url('fonts/Gotham-MediumItalic.ttf') format('truetype');
  font-weight: 400; 
}
@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Light.ttf') format('truetype'),
  	   url('fonts/Gotham-LightItalic.ttf') format('truetype');
  font-weight: 300;
}
a{color: #6B98D0;}
.mainWrap
		{
			float: left;
			width: 100%;
		}
.midWrap
		{
			margin: auto;
			max-width: 1280px;
		}
.mainContainer
		{
			float: left;
			width: calc(100% - 100px);
			background-color: #F0F0F3;
			margin-left: 100px;
			margin-top: 60px;
		}
section
		{
			float: left;
			width: 98%;
			padding: 10px 1%;
		}
h3
		{
			float: left;
			font-size: 21px;
			font-weight: 700;
			text-transform: uppercase;
		}
h4
		{
			float: left;
			font-size: 16px;
			font-weight: 700;
		}
.column3
		{
			float: left;
			width: 33.33333%;
		}
.halfWrap
		{
			float: left;
			width: 50%;
		}
.fullWrap
		{
			float: left;
			width: 100%;
		}
.rotateUp
		{
			transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
		}
.circle
		{
			border-radius: 90%;
			-o-border-radius: 90%;
			-ms-border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
		}
.pullRight
		{
			float: right !important;
		}
.fourColList
		{
			float: left;
			width: 100%;
		}
.fourColList li
		{
			float: left;
			width: 25%;
			font-size: 15px;
			margin-bottom: 5px;
			min-height: 40px;
		}
.fourColList li span
		{
			float: left;
			width: 22px;
			height: 22px;
			margin-right: 5px;
		}
.fourColList li span.active
		{
			background-image: url("../images/icons/Tick-Blue.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
.threeColList
		{
			float: left;
			width: 100%;
		}
.threeColList li
		{
			float: left;
			width: 33.3333%;
			font-size: 15px;
			margin-bottom: 5px;
			min-height: 40px;
		}
.threeColList li span
		{
			float: left;
			width: 22px;
			height: 22px;
			margin-right: 5px;
		}
.threeColList li span.active
		{
			background-image: url("../images/icons/Tick-Blue.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
.defaultDrop
		{
			float: left;
			width: 100%;
			position: relative;
		}
.defaultDrop select
		{
			float: left;
			width: 100%;
			border: 1px solid #ccc;
			appearance:none;
			-moz-appearance:none;
			-webkit-appearance:none;
			margin-top: 5px;
			padding: 5px 10px;
			background-color: transparent;
			position: relative;
			z-index: 9;
		}
.defaultDrop span
		{
			float: left;
			width: 15px;
			height: 15px;
			background-image: url("../images/icons/Dropdown-Thin-Grey.png");
			position: absolute;
			background-repeat: no-repeat;
			background-position: center center;
			top: 14px;
			right: 5px;
			z-index: 0;
		}
.checkIcon, .crossIconRed
		{
			float: left;
			width: 18px;
			height: 18px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100%;
			margin-top: 2px;
		}
.checkIcon
		{
			background-image: url("../images/icons/Tick-Green.png");
		}
.crossIconRed
		{
			background-image: url("../images/icons/Cross-Red.png");
		}





