.setTopTabs
		{
			float: left;
			width: 100%;
			margin-bottom: 10px;
		}
.setTopTabs li
		{
			float: left;
			width: calc(17.2% - 2px);
			margin-right: 1%;
			padding: 1%;
			background-color: #6B98D0;
			border: 1px solid #6B98D0;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			min-height: 100px;
			color: #fff;
			position: relative;
		}
.setTopTabs li:last-child
		{
			margin-right: 0;
		}
.setTopTabs li.active
		{
			background-color: #fff;
			color: #172e55;
		}
.setTopTabs li.active::after
		{
			content: "";
			float: left;
			width: 10px;
			height: 10px;
			position: absolute;
			bottom: -6px;
			right: 30px;
			transform: rotate(47deg);
			-moz-transform: rotate(47deg);
			-webkit-transform: rotate(47deg);
			border-bottom: 1px solid #6B98D0;
			border-right: 1px solid #6B98D0;
			background-color: #fff;
		}
.setTopTabs li .title
		{
			float: left;
			width: 100%;
			text-transform: uppercase;
		}
.setTopTabs li .bigTitle
		{
			float: left;
			width: 100%;
			font-size: 52px;
			font-weight: 700;
			text-transform: uppercase;
		}
.setTopTabs li .title2
		{
			float: left;
			width: 50%;
			font-size: 25px;
			font-weight: 700;
			text-transform: uppercase;
		}
.setTopTabs li .title3
		{
			float: left;
			width: 100%;
			font-size: 35px;
			font-weight: 700;
			text-transform: uppercase;
		}
.pageTopInfo
		{
			float: left;
			width: 100%;
			margin-top: 10px;
		}
.pageTopInfo h3
		{
			color: #20232E;
		}
.topSearchWrap
		{
			float: right;
			width: 340px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border: 1px solid #989898;	
			overflow: hidden;
		}
.topSearchWrap input[type="text"]
		{
			float: left;
			width: calc(96% - 40px);
			padding: 0 2%;
			border: none;
			height: 30px;
		}
.topSearchWrap .searchButton
		{
			border: none;
			float: left;
			width: 40px;
			height: 30px;
			background-color: #68798B;
			background-image: url("../images/icons/Search-White.png");
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
		}
.sectionWrap
		{
			float: left;
			width: 100%;
		}
.sectionHeader
		{
			float: left;
			width: 96%;
			color: #fff;
			padding: 2px 2%;
			background-color: #172E55;
		}
.sectionHeader h3
		{
			padding: 4px 0;
		}
.sectionHeader .sectionRightInfo
		{
			float: right;
			font-size: 21px;
			font-weight: 700;
			color: #fff;
			padding: 4px 0;
			text-transform: uppercase;
			cursor: pointer;
		}
.sectionHeader .sectionRightInfo span
		{
			float: left;
			width: 20px;
			height: 20px;
			background-image: url("../images/icons/Up-Arrow-White.png");
			background-position: center center;
			background-repeat: no-repeat;
			margin-right: 5px;
			margin-top: 4px;
		}
.sectionEditButton
		{
			float: right;
			text-transform: uppercase;
			color: #fff;
			padding: 5px 10px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			margin: 3px 25px;
			background-color: #6A659E;
			line-height: 18px;
			cursor: pointer;
		}
.sectionEditButton span
		{
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 5px;
			background-image: url("../images/icons/Asset-12.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100%;
		}
.quickLink
		{
			background-color: #D7EDF5;
			color: #676767;
		}
.sectionContainer
		{
			float: left;
			width: 92%;
			padding: 4%;
			background-color: #fff;
			color: #676767;
		}
.innerDropMain
		{
			width: 96%;
			padding: 5px 2%;
		}
.quickLinkList
		{
			width: 80%;
			float: left;
			padding: 0 10%;
		}
.quickLinkList li
		{
			float: left;
			width: 50%;
			margin-bottom: 15px;
			text-transform: uppercase;
		}
.quickLinkList li a
		{
			float: left;
			color: #6B98D0;
			font-weight: 700;
			font-size: 18px;
		}
.quickLinkList li span
		{
			float: left;
			width: 22px;
			height: 22px;
			margin-right: 10px;
		}
.quickLinkList li span.active
		{
			background-image: url("../images/icons/Tick-Blue.png");
			background-repeat: no-repeat;
			background-position: center center;
		}
.sectionDetailList
		{
			float: left;
			width: 50%;
		}
.sectionDetailList >li
		{
			float: left;
			width: 100%;
			color: #676767;
			margin-bottom: 10px;
		}
.detailTitle
		{
			float: left;
			width: 100%;
			font-size: 15px;
			font-weight: 400;
			margin-bottom: 10px;
		}
.sectionDetailList li .detailText
		{
			float: left;
			width: 100%;
			font-size: 19px;
			font-weight: 400;
			min-height: 70px;
			max-width: 500px;
		}
.detailPhotoWrap
		{
			float: left;
			width: 100%;
		}
.detailPhotoWrap li
		{
			float: left;
			width: 70px;
			height: 70px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			background-color: #6A659E;
			margin-right: 10px;
			position: relative;
		}
.detailPhotoWrap li img
		{
			float: left;
			width: 100%;
			height: 100%;
		}
.detailPhotoWrap li span
		{
			float: left;
			width: 22px;
			height: 22px;
			background-image: url("../images/icons/Tick-White.png");
			background-repeat: no-repeat;
			background-position: center center;
			position: absolute;
			bottom: 5px;
			left: 5px;
		}
.checkOutIn
		{
			float: left;
			width: 120px;
		}
.awardList
		{
			float: left;
			width: 100%;
		}
.awardList li
		{
			float: left;
			width: calc(21% - 1px);
			padding: 2%;
			text-align: center;
			border-right: 1px solid #F0F0F0;
		}
.awardList li:last-child
		{
			border: none;
		}
.awardList li .imageWrap
		{
			display: inline-block;
			width: 70px;
			height: 70px;
			background-color: #6A659E;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.awardList li .imageWrap img
		{
			float: left;
			width: 100%;
			height: 100%;
		}
.awardList li > p
		{
			width: 80%;
			float: left;
			margin: 5px 10%;
			min-height: 35px;
		}
.awardList li .year
		{
			font-weight: 700;
			min-height: 10px;
		}
.addAwardButton
		{
			float: right;
			width: 50px;
			height: 50px;
			padding: 10px;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border: 1px solid #ccc;
			cursor: pointer;
			font-size: 12px;
		}
.addAwardButton p
		{
			float: left;
			width: 100%;
			margin: 1px 0;
			text-align: left;
		}
.secInnerDropDown
		{
			float: left;
			width: 100%;
		}
.secInnerDropDown > li
		{
			float: left;
			width: 100%;
			margin-bottom: 5px;
		}
.secInnerDropHeader
		{
			float: left;
			width: 96%;
			padding: 5px 2%;
			background-color: #D7EDF5;	
		}
.secInnerDropDown li h4
		{
			line-height: 28px;
		}
.secInnerDropDown li .sectionEditButton 
		{
			margin: 0 25px;
		}
/*.secInnerDropDown li .sectionEditButton span
		{
			width: 18px;
			height: 18px;
			background-size: 100%;
		}*/
.innerDropArrow
		{
			float: right;
			width: 20px;
			height: 20px;
			background-image: url("../images/icons/Down-Arrow-Grey.png");
			background-repeat: no-repeat;
			background-position: center center;
			cursor: pointer;
			padding: 4px;
		}
.innerEditMain
		{
			float: left;
			width: 100%;
			margin-bottom: 5px;
		}
.innerEditMain .sectionEditButton
		{
			margin: 0;
		}
.innerDropContainer
		{
			float: left;
			width: calc(96% - 2px);
			padding: 0 2%;
			border: 1px solid #F0F0F0;
		}
.innerDropList
		{
			float: left;
			width: calc(100% - 2px);
			border-right: 1px solid #F0F0F0;
			border-left: 1px solid #F0F0F0;
		}
.innerDropList li
		{
			width: 96%;
			padding: 0px 2%;
			font-size: 15px;
			float: left;
			border-bottom: 1px solid #F0F0F0;
		}
.innerDropList li.header
		{
			font-weight: 700;
			background-color: #D6ECF5;
		}
.innerDropList li .sec1
		{
			width: 30%;
			float: left;
			padding: 5px 0;
		}
.innerDropList li .sec2
		{
			float: left;
			width: calc(66% - 1px);
			padding: 5px 2%;
			border-left: 1px solid #F0F0F0;
		}
.innerDropAddWrap
		{
			float: left;
			cursor: pointer;
			padding: 0px 0;
			text-transform: uppercase;
			text-decoration: underline;
			font-weight: 700;
			margin: 10px 0;
			font-size: 15px;
			line-height: 1.3;
		}
.innerDropAddWrap span
		{
			float: left;
			width: 20px;
			height: 20px;
			background-image: url("../images/icons/Add.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100%;
			border-radius: 90%;
			-moz-border-radius: 90%;
			-webkit-border-radius: 90%;
			margin-right: 5px;
		}
/*second tab css start*/
.fmQuickLeft
		{
			float: left;
			width: 20%;
			padding: 0 1%;
			margin-right: 2%;
			background-color: #fff;
			min-height: 250px;
		}
.fmQuickRight
		{
			background-color: #fff;
			width: 76%;
			min-height: 250px;
		}
.fmQuickList
		{
			float: left;
			width: 80%;
			padding: 0 10%;
		}
.fmQuickList li
		{
			float: left;
			width: 100%;
			padding: 10px 0;
			font-weight: 700;
			font-size: 18px;
			text-align: center;
			text-transform: uppercase;
			border-bottom: 1px solid #F0F0F0;
		}
.fmQuickList li:last-child
		{
			border: none;
		}
.fmQuickRight .sectionContainer
		{
			padding: 15px 4%;
		}
.fmQuickList li a
		{
			width: 100%;
			float: left;
			
		}
.fmQuickLeftTitle
		{
			float: left;
			width: 100%;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 700;
			text-align: center;
			margin-top: 70px;
		}
.fmQuickLeftCount
		{
			float: left;
			width: 100%;
			text-align: center;
			font-weight: 700;
			font-size: 52px;
			margin-top: 30px;
		}
.stdMainWrap
		{
			float: left;
			width: 80%;
			padding: 30px 10%;
		}
.stdHalfList
		{
			float: left;
			width: 100%;
		}
.stdHalfList > li
		{
			float: left;
			width: 40%;
			margin-right: 20%;
			margin-bottom: 20px;
		}
.stdHalfList > li:nth-child(2n)
		{
			margin-right: 0;
		}
.stdHalfList li label, .stdHalfList li input
		{
			width: 100%;
			float: left;
			font-size: 15px;
		}
.stdHalfList li input
		{
			width: calc(100% - 20px);
			border: 1px solid #ccc;
			margin-top: 5px;
			padding: 5px 10px;
		}
.stdHalfList li .halfWrap
		{
			width: 46%;
		}
.stdHalfList li .halfWrap:nth-child(2)
		{
			margin-left: 8%;

		}
.roomPhotoWrap
		{
			float: left;
			width: 100%;
			margin: 20px 0;
		}
.crossIcon
		{
			float: left;
			width: 15px;
			height: 15px;
			background-color: #676767;
			position: absolute;
			top: -7px;
			right: -7px;
			color: #fff;
			text-align: center;
			line-height: 14px;
			cursor: pointer;
		}
.addRoomPhoto
		{
			background-color: #fff !important;
			margin-left: 15px;
			margin-right: 0 !important;
		}
.addRoomPhoto .addAwardButton
		{
			height: 48px;
		}
.roomPhotoWrap .detailPhotoWrap
		{
			margin: 10px 0;
		}
.roomList
		{
			margin-bottom: 20px ;
		}
.secInnerDark 
		{
			margin: 10px 0;
		}
.secInnerDark li .secInnerDropHeader.headerDrak
		{
			background-color: #6B98D0;
			color: #fff;
		}
.secInnerDark li .secInnerDropHeader.headerDrak .innerDropArrow
		{
			background-image: url("../images/icons/Down-White.png");
		}
.lightInnerList
		{
			float: left;
			width: 100%;
			padding-top: 2%;
		}
.lightInnerList li
		{
			float: left;
			width: 8%;
			height: 70px;
			padding: 0.5%;
			margin: 0.5%;
			background-color: #D6ECF5;
			text-align: center;
			max-width: 80px;
			min-width: 68px;
		}
.lightInnerList li .title1
		{
			float: left;
			width: 100%;
			font-size: 25px;
			color: #000;
		}
.lightInnerList li .title2
		{
			float: left;
			width: 100%;
			font-size: 16px;
			text-transform: uppercase;
		}
.roomAmen a
		{
			color: #676767;
		}
.amQuickList
		{
			width: 500px;
			margin: auto;
			float: none;
		}
.amQuickList li
		{
			width: 95%;
			padding: 10px 0 10px 5%;
			text-align: left;
		}
.amQuickList li .amQuickBig
		{
			float: left;
			width: 90%;
		}
.amQuickList li .amQuickSmall
		{
			float: left;
			width: 10%;
		}
.restuTopWrap
		{
			float: left;
			width: 100%;
			margin-top: 10px;
		}
.restuTopWrap li
		{
			float: left;
			margin-right: 30px;
			font-size: 16px;
			font-weight: 700;
			cursor: pointer;
		}
.restuTopWrap li span
		{
			float: right;
			margin-left: 10px;
		}
.restuTwoRow
		{
			width: 45%;
			float: left;
			min-height: 100px;
		}
.restuLeftRow
		{
			margin-right: 10%;
		}
.restuTwoRow .stdHalfList > li
		{
			width: 100%;
			margin-right: 0;
			min-height: 55px;
		}
.stdHalfList li textarea
		{
			float: left;
			width: calc(100% - 20px);
			resize: none;
			height: 120px;
			padding: 5px 10px;
			font-family: 'Gotham', Arial, sans-serif;
			font-weight: 300;
			margin-top: 5px;
			border: 1px solid #ccc;
		}
.directionList
		{
			float: left;
			width: 100%;
			border: 1px solid #F0F0F0;
			margin-top: 10px;
		}
.directionList li
		{
			float: left;
			width: 100%;
			font-size: 15px;
			border-bottom: 1px solid #F0F0F0;
		}
.directionList li:last-child
		{
			border:none;
		}
.directionList li:first-child
		{
			font-weight: 700;
			background-color: #D6ECF5;
		}
.directionList li .wrap1
		{
			float: left;
			width: 32%;
			padding: 10px 4%;
		}
.directionList li .wrap2
		{
			float: left;
			width: 52%;
			padding: 10px 4%;
		}
.directionList li .innerDropAddWrap
		{
			margin-left: 4%;
		}
.msgLinkList
		{
			width: 100%;
			padding: 0;
		}
.msgLinkList li
		{
			width: 25%;
		}
/*fourth tab css start*/
/*.sysGenDrop li
		{
			margin-bottom: 0;
		}*/
.sysGenInnerList
		{
			float: left;
			width: 100%;
			border: 1px solid #F0F0F0;
		}
.sysGenInnerList li
		{
			float: left;
			width: 100%;
			font-size: 15px;
			line-height: 24px;
			border-bottom: 1px solid #F0F0F0;
		}
.sysGenInnerList li:first-child
		{
			font-weight: 700;
			background-color: #D6ECF5;
		}
.sysGenInnerList li:last-child
		{
			border: none;
		}
.sysGenInnerList li .innerColFour1
		{
			float: left;
			width: calc(8% - 1px);
			padding: 10px 1%;
			height: 20px;
			overflow: hidden;
			border-right: 1px solid #F0F0F0;
		}
.sysGenInnerList li .innerColFour2
		{
			float: left;
			width: calc(18% - 1px);
			padding: 10px 1%;
			border-right: 1px solid #F0F0F0;
			height: 20px;
			overflow: hidden;
		}
.sysGenInnerList li .innerColFour3
		{
			float: left;
			width: calc(28% - 1px);
			padding: 10px 1%;
			border-right: 1px solid #F0F0F0;
			height: 20px;
			overflow: hidden;
		}
.sysGenInnerList li .innerColFour4
		{
			float: left;
			width:38%;
			padding: 10px 1%;
			height: 20px;
			overflow: hidden;
		}
.sysGenListCheck
		{
			float: left;
			width: 20px;
			height: 20px;
			background-position: center center;
			background-repeat: no-repeat;
		}
.sysGenListCheck.active
		{
			background-image: url("../images/icons/Tick-Blue.png");
		}
.innerSendButton
		{
			float: left;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: underline;
			cursor: pointer;
		}
.innerSendButton span
		{
			float: left;
			width: 20px;
			height: 20px;
			background-image: url('../images/icons/Send.png');
			background-position: center center;
			background-repeat: no-repeat;
			margin-top: 3px;
			margin-right: 5px;
		}
.innerDropAddSpace
		{
			padding: 0px 1%;
		}
.adHocList li .innerColFour2
		{
			width: 18%;
			border: none;
		}
.adHocList li .innerColFour1
		{
			width: calc(8% - 1px);
			border-left: 1px solid #F0F0F0;
		}
/* 5th tab css start*/
.fmQuickLeft2
		{
			padding: 0;
			width: 22%;
		}
.menuLinkList
		{
			width: 100%;
			padding: 10px 0;
		}
.menuLinkList li
		{
			width: 33.33%;
		}
.menuCurrMain
		{
			margin: auto;
			width:120px;
			margin-top: 75px;
		}
.menuCurrMain .detailPhotoWrap
		{
			text-align: center;
			margin-top: 20px;
		}
.menuCurrMain .detailPhotoWrap li
		{
			float: none;
			display: inline-block;
			margin: 0;
		}
.menuInnerEditMain
		{
			margin-top: 20px;
		}
.menuInnerCol1
		{
			float: left;
			width: calc(28% - 1px);
			padding: 5px 1%;
			border-right: 1px solid #F0F0F0;
			min-height: 24px;
		}
.menuInnerCol7
		{
			float: left;
			width: calc(8% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.menuInnerCol6
		{
			float: left;
			width: calc(9.666% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.menuInnerHeaderGreenCheck
		{
			float: left;
			width: 30px;
			height: 30px;
			margin: 0 20px;
			background-image: url("../images/icons/Tick-Green.png");
			background-position: center center;
			background-repeat: no-repeat;
		}
.menuInnerHeaderRedCross
		{
			float: left;
			width: 30px;
			height: 30px;
			margin: 0 20px;
			background-image: url("../images/icons/Cross-Red.png");
			background-position: center center;
			background-repeat: no-repeat;
			cursor: pointer;
		}
.menuInnerCol3
		{
			float: left;
			width: calc(21.33% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.sysGenInnerList .last
		{
			border: none;
		}
.innerThinHeading
		{
			font-weight: 300;
		}
.menuInnerTimeList
		{
			float: left;
			width: 100%;
			margin: 10px 0;
		}
.menuInnerTimeList li
		{
			float: left;
			font-size: 15px;
			line-height: 30px;
			margin-right: 30px;
			font-weight: 300;
		}
.menuInnerTimeList li strong
		{
			float: left;
			font-weight: 700;
			margin-right: 5px;
		}
.menuInnerTimeList li .menuInnerHeaderRedCross
		{
			margin: 0 10px;
		}
.innerCol15Per
		{
			float: left;
			width: calc(13% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.innerCol90Per
		{
			float: left;
			width: calc(88% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.innerCol40Per
		{
			float: left;
			width: calc(38% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.innerCol25Per
		{
			float: left;
			width: calc(23% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.menuInnerCol3
		{
			float: left;
			width: calc(16% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.innerCol12Per
		{
			float: left;
			width: calc(10% - 1px);
			padding: 5px 1%;
			min-height: 24px;
			border-right: 1px solid #F0F0F0;
		}
.menuAllChannelList
		{
			float: left;
			width: 100%;
		}
.menuAllChannelList li
		{
			float: left;
			margin: 20px;
			width: 185px;
		}
.channelLogoWrap
		{
			float: left;
			width: 100%;
			height: 80px;
			background-color: #6A659E;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
.channelNameWrap
		{
			float: left;
			width: 100%;
			margin-top: 10px;
			font-size: 15px;
		}
.channelNameWrap strong
		{
			float: right;
			font-weight: 700;
		}

